.App {
  min-height: 100vh;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}

.searchButton {
  display: inline;
  margin-left: auto;
}

.searchArea {
  display: inline;
  margin-left: 10px;
}

.Select {
  font-family: 'Areal', sans-serif;
}

.rating-text{
  opacity: 0;
}

.rating-container{
  display: inline-block;
}

.rating-container:hover .rating-text{
  opacity: 1;
}