.App {
  min-height: 100vh;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}

form {
  margin: 0px;
}

.Select {
  font-family: 'Areal', sans-serif;
}

.rating-text{
  opacity: 0;
}

.rating-container{
  display: inline-block;
}

.rating-container:hover .rating-text{
  opacity: 1;
}


@media (min-width: 490px) {
  .beerList {
      width: 490px;
  }
}
@media (min-width: 1222px) {
  .header {
      width: 1222px;
  }
  .beerList {
      width: 1222px;
  }
}
@media (max-width: 1222px) {
  .header {
      width: 978px;
  }
  .beerList {
      width: 978px;
  }
}
@media (min-width: 979px){  
  .openMenu {
    font-size: 13px;
  }
}
@media (max-width: 978px) {
  .header {
      width: 734px;
  }
  .beerList {
      width: 734px;
  }
  .openMenu {
    flex-direction: column;
    font-size: 16px;
  }
}
@media (max-width: 734px) {
  .header {
      width: 100%;
      max-width: 490px;
  }
  .beerList {
      width: 490px;
  }
}
@media (max-width: 490px) {
    .beerList {
        width: 240px;
    }
}
