@media (min-width: 1222px) {
    .header {
        width: 1222px;
    }
}
@media (max-width: 1222px) {
    .header {
        width: 978px;
    }
}
@media (max-width: 978px) {
    .header {
        width: 734px;
    }
    .openMenu {
      flex-direction: column;
    }
}
@media (max-width: 734px) {
    .header {
        width: 100%;
        max-width: 490px;
    }
}