@model System.Collections.Generic.IEnumerable<Vinmonopolet.Models.Store>

<table class="table table-condensed">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>IsActive</th>
    </tr>
    @foreach (var store in Model)
    {
        <tr onclick="toggleStore(@store.Id)">
            <td>@store.Id</td>
            <td>@store.Name</td>
            @if (store.IsActive)
            {
                <td class=""><span class="glyphicon glyphicon-ok"></span></td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }
</table>
<script>
    function toggleStore(storeId) {
        fetch(new Request('stores/toggle/' + storeId, {
            method: "POST",
            credentials: 'same-origin'
        })).then(function() {
            window.location.reload();
        });
    }
</script>