@value cardBackground, borders from "../colors.module.css";

.baseFilterModule {
    height: auto;
    width: auto;
    border: solid 2px borders;
    border-radius: 5px;
    background-color: cardBackground;

}

.bigFilterModule {
    composes: baseFilterModule;
    grid-row: span 2;
}