@using System.IO
@{
    Layout = null;

    var staticJsFolder = "/build/static/js";
    var staticScripts = new DirectoryInfo("wwwroot\\build\\static\\js").GetFiles("*.js");


    var staticCssFolder = "build/static/css";
    var staticCss = new DirectoryInfo("wwwroot\\build\\static\\css").GetFiles("*.css");
}
<html>
<head>
    <title>ølPol</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    
    @foreach (FileInfo file in staticCss)
    {
        <link href="@staticCssFolder/@file.Name" rel="stylesheet">
    }
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>

@foreach (FileInfo file in staticScripts)
{
    <script src="@staticJsFolder/@file.Name"></script>
}
</body>
</html>