.stockContent{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    overflow-y: scroll;
    font-size: 12px;
    text-align: right;
    padding: 0px 6px;    
}

.stockContent::-webkit-scrollbar {
    display: none;
}