@using System.Linq
@using System.Web
@model Vinmonopolet.Models.BeerViewModels.PolViewModel

<h3>@Model.SearchTerm</h3>

<table class="table table-condensed">
<tr>
    <th></th>
    <th>Beer</th>
    <th></th>
    <th class="text-right">Checkins</th>
    <th class="text-right">Rating</th>
    <th class="text-right">IBU</th>
    <th class="text-right">Alc</th>
    <th class="text-right">Antall</th>
    <th class="text-right">Pris</th>
    <th></th>
</tr>
@foreach (var beer in Model.UnregBeers.OrderByDescending(x => x.AlcoholPercentage))
{
        <tr>
            <td class="img-responsive"><img style="height:30px" class="img-responsive" src="" /></td>
            <td>
                    <a href="https://untappd.com/search?q=@beer.Name">@beer.Name</a>
            </td>
            <td class="media-right">
                @using (Html.BeginForm("LinkAction", "Untappd", new { matnr = beer.MaterialNumber }, FormMethod.Post))
                    {
                        <div class="input-group-sm" style="display: flex; float: right">
                            <input style="max-width:80px" class="form-control" type="text" name="bid" />
                            <input class="btn btn-sm btn-default" type="submit" value="Link" />
                        </div>
                    }
            </td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">@(beer.AlcoholPercentage) %</td>
            <td class="text-right">-</td>
            <td class="text-right">@beer.Price</td>
            <td class="text-right">
                @if (beer.UntappdFetchStatus == UntappdFetchStatus.Verified)
                {
                    <span class="text-right glyphicon glyphicon-check"></span>
                }
            </td>
        </tr>
        }
}
</table>